<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->

<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->

<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title data-i18n="title">Annotating Academic Video</title>
    <meta name="description" data-i18n="[content]description" content="Video annotations tool">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style/style.css">
    <!-- build:[data-main]:build optimized.js-->
    <script src="js/libs/require/require.js"></script>
    <!-- /build -->
    <!-- build:remove:build -->
    <script src="js/libs/require/config/config.js"></script>
    <script src="js/main.js"></script>
    <!-- /build -->
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div id="screen">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a id="video-title" class="brand" href="#"><span data-i18n="title"></span> - <%= version %> </a>

          <ul class="nav pull-right">
              <li><a href="#" id="about" data-i18n="menu.about"></a></li>
              <li class="dropdown" id="view-options">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-i18n="menu.view.head"></span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="menu-category" data-i18n="menu.view.annotate.head"></li>
                  <li><a id="opt-annotate-text" class="opt-layout checked" href="#"><i class="check icon-check"></i> <span data-i18n="menu.view.annotate.text annotations"></span></a></li>
                  <li><a id="opt-annotate-categories" class="opt-layout checked" href="#"><i class="check icon-check"></i> <span data-i18n="menu.view.annotate.structured annotations"></span></a></li>
                  <li role="presentation" class="divider"></li>
                  <li class="menu-category" data-i18n="menu.view.views.head"></li>
                  <li><a id="opt-view-annotate" class="opt-layout checked" href="#"><i class="check icon-check"></i> <span data-i18n="menu.view.views.annotate view"></span></a></li>
                  <li><a id="opt-view-list" class="opt-layout checked" href="#"><i class="check icon-check"></i> <span data-i18n="menu.view.views.list view"></span></a></li>
                  <li role="presentation" class="divider"></li>

                  <li>
                    <ul id="menu-plugins">
                        <!-- Place to add the menu elements from the plugins -->
                    </ul>
                  </li>

                  <li role="presentation" class="divider"></li>

                  <li><a id="opt-auto-expand" href="#"><i class="check icon-check"></i> <span data-i18n="menu.view.auto expand"></span></a></li>

                  <li role="presentation" class="divider"></li>
                  <li><a class="opt-tracks-select" href="#" data-i18n="track management"></a></li>


                </ul>
              </li>
              <li><a href="#" id="export" data-i18n="menu.export"></a></li>
              <li><a href="#" id="print" data-i18n="menu.print"></a></li>
              <li><a href="#" id="logout" data-i18n="menu.logout"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="main-container" class="container-fluid">

    <!-- Loading box -->
    <div class="hero-unit" id="loading">
        <h1 data-i18n="startup.loading"></h1>
        <p class='info' data-i18n="startup.creating views"></p>
        <p>
            <div class="progress progress-striped active">
                <div class="bar" style="width: 10%;"></div>
            </div>
        </p>
    </div>



    <div class="row-fluid">
        <div class="span6" id="left-column">

            <!-- container for the video -->
            <div id="video-container" class="window" style="display:none">
                <video id="example" style="width:100%; height:100%;" controls controlslist="nodownload">
                    <%= sources %>
                </video>
            </div>

            <!-- container for the timeline-->
            <div>
                <div class="window" id="timeline-container" style="display:none">
                    <div class="navbar">
                        <div class="navbar-inner">
                          <div class="container-fluid">
                            <span class="time"></span>
                          </div>
                        </div>
                    </div>
                    <div id="timeline"></div>

                    <div id="timeline-custom-navigation">
                        <div class="timeline-bottom-controls">
                          <div class="btn-group dropup">
                            <button class="btn opt-tracks-select" data-i18n="timeline.track management"></button>
                          </div>
                          <a id="add-track" class="btn">+ <span data-i18n="timeline.add track.button"></span></a>
                        </div>

                        <div class="timeline-bottom-controls" id="reset-zoom"><a class="btn"><i class="icon-eye-open"></i> <span data-i18n="timeline.reset zoom"></span></a></div>
                        <div class="timeline-bottom-controls" id="move-left"><a class="btn">&lt;</a></div>
                        <div class="timeline-bottom-controls" id="zoom-in"><a class="btn">+</a></div>
                        <div class="timeline-bottom-controls" id="zoom-out"><a class="btn">-</a></div>
                        <div class="timeline-bottom-controls" id="move-right" ><a class="btn">></a></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="span6" id="right-column">

            <!-- container for the annotations insertion box -->
            <div>
                <div class="window expanded" id="annotate-container" style="display:none">

                    <div class="navbar">
                        <div class="navbar-inner">
                          <div class="container">
                            <span class="window-title" data-i18n="annotate on"></span>
                            <span class='currentTrack'>
                              <span class="content" data-i18n="annotate.no selected track"></span>
                            </span>
                          </div>
                      </div>
                    </div>

                    <div class="control-group" id="annotate-form">
                        <div class="no-track" data-i18n="annotate.select track prompt"></div>

                        <div id="input-container" class="insert-fields">
                            <textarea id="new-annotation" data-i18n="[placeholder]annotate.new.placeholder;[title]annotate.new.title" rows="3"></textarea>
                            <div class="stop-fields">
                                <label class="checkbox inline">
                                    <input id="pause-video" type="checkbox"> <span data-i18n="annotate.pause while editing"></span>
                                </label>
                            </div>
                            <button id="insert" type="button" class="btn" data-i18n="annotate.insert"></button>
                        </div>



                        <div id="categories">

                            <ul class="nav nav-tabs" id="label-tabs-buttons">
                                  <label class="checkbox inline" id="editSwitch">
                                  <input type="checkbox" value="option1"> <span data-i18n="annotate.edit mode"></span>
                              </label>
                            </ul>

                            <div class="tab-content" id="label-tabs-contents">
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- container for the annotations list -->
            <div>
                <div class="window expanded" id="list-container" style="display:none" data-spy="scroll">
                    <div class="navbar">
                        <div class="navbar-inner">
                          <div class="container">

                            <ul class="nav pull-right">
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-i18n="annotate.items visibility.head"></span><b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="#" class="collapse-all" data-i18n="annotate.items visibility.collapse all"></a></i></li>
                                    <li><a href="#" class="expand-all" data-i18n="annotate.items visibility.expand all"></a></i></li>
                                  </ul>
                                </li>
                            </ul>

                          </div>

                        </div>
                    </div>

                    <div id="content-list-scroll">
                        <div id="content-list"></div>
                    </div>

                </div>
            </div>

        </div>

      </div>

    </div> <!-- /container -->

    <div id="dialogs"></div>
    <div class="modal" id="about-dialog" style="display:none"></div>
    <div class="modal" id="user-login" style="display:none"></div>
    <div class="modal" id="scale-editor" style="display:none"></div>
    <div class="modal" id="alert" style="display:none"></div>
    <div class="modal" id="tracks-selection" style="display:none"></div>
  </div>
  <div id="print-view"></div>
</body>
</html>
