<li class='tab-button'>
    <a href='#labelTab-{{id}}'>{{name}}
        <i class='icon-upload import edit' title="{{t "annotate.upload categories"}}"></i>
        <input class="file" type="file" id="file-{{id}}">
        <i class='icon-download export edit' title="{{t "annotate.download categories"}}"></i>
        <i class='icon-plus-sign add edit'></i>
    </a>
</li>