<div class="{{state}}">
    <div class="left">
        <a href="#{{id}}" class="proxy-anchor"></a>

        <a class="collapse" title="collapse">
            <i class="icon-chevron-down"></i>
        </a>

        <span class="start read-only">
            {{time start}}
        </span>

        <span class="end {{#if duration}}has-duration{{else}}no-duration{{/if}} read-only">
               {{end start duration}}
        </span>

        {{#if isMine}}
        <i class="private icon-user" title="{{t "annotation.you own"}}"></i>
        {{/if}}

        {{#if scalevalue}}
        <span class="scaling">
                {{#if scalevalue}}
                <span class="read-only" title="{{scalevalue.name}}">{{scalevalue.name}}</span>
                {{/if}}
        </span>
        {{/if}}


        <span class="category" {{#if label}}title="{{label.category.name}} - {{label.value}} ({{label.abbreviation}})"{{/if}}>
                {{#if label}}
                    <span class="abbreviation">{{label.abbreviation}}</span>
                    <span class="label-value print">{{label.value}}</span>
                    {{#if scalevalue}}
                        <span class="scalevalue print">{{scalevalue.name}} ({{scalevalue.value}})</span>
                    {{/if}} 
                {{else}}
                    <span class="no-label">{{text}}</span>
                {{/if}}
        </span>
    </div>

    <div class="right">
        {{#canBeDeleted}}
        <i class="delete icon-trash" title="{{t "annotation.edit.delete"}}"></i>
        {{/canBeDeleted}}

        {{#if isMine}}
        <i class="toggle-edit icon-pencil" title="{{t "annotation.edit.edit"}}"></i>
        {{/if}}

        <i class="{{#if numberOfComments}}icon-comment-amount{{else}}icon-comment{{/if}}" title="{{t "annotation.comments.count" count=numberOfComments}}">
            {{#if numberOfComments}}
            <span class="comment-amount">{{numberOfComments}}</span>
            {{/if}}
        </i>
    </div>
</div>

<div id="text-container{{id}}" class="text-container">
    <div class="creator-info">
        <span class="user">{{created_by_nickname}}</span>
        <span class="created">{{formatDate created_at}}</span>
        <span class="track">{{track}}</span>
    </div>
    <span class="text freetext read-only">
        {{#if label}}
            {{label.value}}
        {{else}}
            {{{textReadOnly}}}
        {{/if}}
    </span>
</div>

<div class="comments"></div>
