<div class="modal" id="modal-add-group">
		<div class="modal-header">
			<h3>{{t "timeline.add track.header"}}</h3>
		</div>
		<div class="modal-body">
		<form class="form-horizontal">
			<fieldset>
				<div class="alert alert-error" style="display:none">
					<span><i class="icon-exclamation-sign"></i></span>
					<span id="content"></span>
				</div>
				<div class="control-group">
					<label class="control-label" for="name"><b>*</b> {{t "timeline.add track.name.label"}}: </label>
					<div class="controls">
						<input type="text" placeholder="{{t "timeline.add track.name.placeholder"}}" id="name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="description">{{t "timeline.add track.description.label"}}: </label>
					<div class="controls">
						<input type="text" placeholder="{{t "timeline.add track.description.placeholder"}}" id="description">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="public">{{t "timeline.add track.is public"}}: </label>
					<div class="controls">
						<input type="checkbox" id="public" {{#isPrivateOnly}}disabled="disabled"{{/isPrivateOnly}} />
						{{#isPrivateOnly}}
							<span class="alert alert-warning">{{t "timeline.private only.no public tracks allowed"}}</span>
						{{/isPrivateOnly}}
					</div>
				</div>
				<div style="float:right"><b>* {{t "required fields"}}</b></div>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">{{t "timeline.add track.cancel"}}</a>
		<a href="#" id="add-group" class="btn btn-primary">{{t "timeline.add track.add"}}</a>
	</div>
</div>